h1 {
    background-color: #C1D8C3; 
    text-align: center ;
}
h3 {
    background-color: #C1D8C3; 
    text-align: justify;
}
td {
    background-color: #C1D8C3;
}
.portofolio {
    text-align: center;
}